*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;
    text-decoration: none;
    font-family: cursive;
    
}
body{
    background: url(bg3.gif) no-repeat;
    background-size: cover;
    color: white;
}
header{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 8%;
}
.heading h1{
        color: lightsteelblue;
   }
h2{
    font-family: cursive;
    display: inline-block;
    padding: 10px 35px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(150, 206, 60);
    
}
.name h2{
    padding: 10px 20px;
    font-size: 30px;
    color: lightgreen;
}
button{
    width: 100px;
    height: 50px;
    border: 3px soldi white;
    border-radius: 50px;
    background: #202020;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 25px;
    margin-top: 10px;
}




